@{
    ViewBag.Title = "Home Page";
    ViewData["x"] = Session["userTypeLogged"];
}

<main>
    <div class="row" aria-labelledby="aspnetTitle">
        <h3 style="text-align: center; margin-top: 50px;">Welcome to</h3>
        <h1 style="text-align: center;">Saint Michel Technology Institution</h1>
    </div>

    <div class="home-image">
        <img src="../images/home-image.jpg" alt="Welcome image" style="max-width: 50%; display: block; margin: 50px auto 0 auto;" />
    </div>

    <div>
        <p style="text-align: center; margin: 70px;">Access the system functions through the navigation bar at the top of the webpage.</p>
    </div>
</main>